
@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}


@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

/* Sorgt dafür, dass float zurückgesetzt wird und die Verschibung von
nachfolgenden Elementen verschwindet:
es wird fake-content hinzugefügt nach gefloateten Elementen
  */ 
@define-mixin clearfix     {
    &::after  {
        content: "";
        clear: both;
        display: table;
    }
}