.row {
    /* Alle Spalten in einem Row mit etwas Padding vorsehen.
    Achtung: Letzer Padding ist zu viel - verfälscht Layout */
    &--gutters > div {
        padding-right: 65px;
    }

    /* Trick, um Effekt von oben loszuwerden: 
    Overflow erzeugen, um ihn dann mit hidden zu verstecken
    Ziel der Übung: Verhältnis der Spalten beibehalten
     */ 
    &--gutters {
        margin-right: -65px;
    }

    /* Gleicher Trick, jedoch für grössere Abstände */
    &--gutters-large > div {
        padding-right: 100px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    /* Gleicher Trick, jedoch für kleinere Abstände */
    &--gutters-small > div {
        padding-right: 40px;
    }

    &--gutters-small {
        margin-right: -40px;
    }

    /* Extra-margin für kleinere Screens */
    &__bot-margin-until-medium {
        margin-bottom: 1rem;
    }

    &--top-padding {
        padding-top: 80px;
    }

    /* Spezifische Behandlung für Screens ab Medium */
    @mixin atMedium {

        &__bot-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-8 {
            float: left;
            width: 66.66%;
        }
    }

    /* Spezifische Behandlung für Screens ab Large */
    @mixin atLarge {

        &__bot-margin-until-large {
            margin-bottom: 0;
        }

        &__large-4 {
            float: left;
            width: 33.33%;
        }

        &__large-6 {
            float: left;
            width: 50%;
        }

        &__large-8 {
            float: left;
            width: 66.66%;
        }
    }

    /* Anwendung vom definierten mixin, um floating Verschiebung zu korrigieren 
    sieh. _mixins.css*/
    @mixin clearfix;

    /* Begin equal height rules */
    &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--equal-height-at-large {
        @mixin atLarge {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }
}